pkgbase = deskreen-ce-bin
	pkgdesc = Turn any device into a secondary screen for your computer - Community Edition (binary release)
	pkgver = 3.2.14
	pkgrel = 2
	url = https://github.com/pavlobu/deskreen
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	provides = deskreen-ce
	provides = deskreen
	conflicts = deskreen-ce
	conflicts = deskreen
	conflicts = deskreen-bin
	source_x86_64 = deskreen-ce-3.2.14-amd64.deb::https://github.com/pavlobu/deskreen/releases/download/v3.2.14/deskreen-ce_3.2.14_amd64.deb
	b2sums_x86_64 = 851254b8aa8c33abda392b03cb417dee0b40225cffbac2130ef4b079d15992203eb3bf2a35f4a183290fd09d71e372770df4eea507fe0212eac2c3b342ef3d8b
	source_aarch64 = deskreen-ce-3.2.14-arm64.deb::https://github.com/pavlobu/deskreen/releases/download/v3.2.14/deskreen-ce_3.2.14_arm64.deb
	b2sums_aarch64 = 3d54bb3f6bf33b5d84fa9254334c145058ca677982c6860e599905005b344b27a3de7c18a5e779b267b38e2bc5561fd8ea7dfaabb357019bb65bef57cb6a7397

pkgname = deskreen-ce-bin
	depends = avahi
	depends = gtk3
	depends = libseccomp
	depends = nss
	depends = sqlite
	depends = systemd-libs
